<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/boardmain.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    
    <title>Main</title>
   
</head>
<body class="container" >
<script type = "text/javascript">
    window.onload = function (){ //현재 body가 onload했을 시 실행되는 함수
        var body = document.getElementsByTagName("body").item(0);
        body.style.opacity = "1.0";
    }
</script>
   <div class="boardview">
   <div style="padding: 5px;">
      <span style=" float:left; padding: 5px;"><button class="btn btn-outline-dark btn-sm" id="myInfoBtn">내 정보</button></span>
      <script type="text/javascript">
         
         let myInfoBtn = false;
         function onClickMyInfo(){
            if(myInfoBtn == false){
               myInfoBtn = true;
               $(".myInfo").css("opacity", "1");
            }
            else{
               myInfoBtn = false;
               $(".myInfo").css("opacity", "0");
            }
         }
         $("#myInfoBtn").click(onClickMyInfo);
         </script>
      <span class="myInfo">
          <strong>name :</strong>  [[${auth.memberDto.name}]]
          <strong>email :</strong>  [[${auth.memberDto.email}]]
      </span>
      <span style="float:right; padding: 5px;"><button class="btn btn-outline-dark btn-sm" onclick="location.href='/logout'">logout</button></span>
      
   </div>
      
      <table class="table table-hover">
         <thead class="thead-dark">
            <tr><th>번호</th><th>제목</th><th>글쓴이</th><th>날짜</th><th>조회수</th></tr>
         </thead>
         <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}"></td>
                      <td class="td-title"><a th:href="@{'/board/' + ${itemStat.count}}"><span th:text="${item.title}"></span></a></td>
                      <td th:text="${item.writer.name}"></td>
                      <td th:text="${#temporals.format(item.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
                      <td th:text="${item.count}"></td>
                   </tr>
         </tbody>
     </table>
     <ul class="pagination" th:if="${page != null}">
        <li class="page-item"><a class="page-link" th:href="@{'/board/main?page='+${page.number-1}}">Previous</a></li>
        <li id="biatag" class="page-item"  th:each="Page : ${#numbers.sequence(page.FP,page.FP+4)}">
            <a th:if="${page.totalPages >= page.FP+PageStat.index}" class="page-link" th:href="@{'/board/main?page='+${page.FP+PageStat.index}}">[[${page.FP+PageStat.index}]]</a>
            
        </li>
        <li class="page-item"><a class="page-link" th:href="@{'/board/main?page='+${page.number+1}}">Next</a></li>
     </ul>

     <ul class="pagination" th:unless="${page != null}">
      <li class="page-item"><a class="page-link" th:href="@{/board/search/page?stat=prev}">Previous</a></li>
      <li class="page-item"><a class="page-link" th:href="@{/board/search/page?stat=next}">Next</a></li>
     </ul>
     
     <span class="btnlo">
             <form action="/board/search" method="get">
                <input class="form-controll" type="text" name="keyword" placeholder="검색어를 입력해주세요"/>
                <button class="btn btn-outline-dark">검색</button>
                <button type="button" class="btn btn-outline-dark" onclick="location.href='/board/newpost'">글쓰기</button>
             </form>
            </span>
   </div>
<img class="bg" src="/img/3.jpg">
</body>
<div id="logout"></div>
</html>