<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/boardnewpost.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="https://cdn.ckeditor.com/ckeditor5/19.1.1/classic/ckeditor.js"></script>
    <style>
      .ck-editor__editable{
          max-height: 500px;
          min-height: 500px;
      }
      .cke_show_borders{
          overflow: scroll;
      }

    </style>
    <meta charset="UTF-8">
    <title>newPost</title>
</head>
<body style="background-color: gray;"class="container">
    <div class="boardview">
        <form  action="/board/newpost" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title"><h6>제목:</h6></label>
                <input type="text" class="form-control" id="title" name="title">
              </div>
            <div class="form-group">
                <label for="content"><h6>내용:</h6></label>
                <textarea style="overflow-y: visible; resize: none;"class="form-control" id="content"name="contents"></textarea>
            </div>
            <div style="text-align: right;">
                <input type="file" id="file" name="uploadFiles" multiple="multiple">
                <button class="btn btn-outline-dark" type="submit" value="등록">등록</button>
            </div>
        </form>
    </div>
</body>
<script src="/js/ckeditor.js"></script>
</html>